body{
font-family: "Roboto", serif;
margin:0;
}
main{
font-size:20px;
color:#591616;
text-align:center;
margin:220px 100px 200px 100px;
padding:80px 100px 80px 100px;
background-color:rgb(163, 201, 217, 0.6);
}
header {
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
    margin:0;
    color: #ffffff;
	background:#c03624;
	display: flex;
    align-items: center;
    justify-content: space-between;
	background-image: url('luces.png');
    padding:0 0 115px 0;
	font-family: "Roboto", serif;
}

header h1{
    margin:0 10px 0 20px;
    font-size: 40px;
    color: #c03624;
	background:#eeeeee;
	padding:0 10px 0 10px;
}
.fondo{
position: fixed;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
z-index: -1;
}

header nav a{
	display:block;
	color:#000000;
	text-decoration:none;
	padding:16px;
}
header nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
header nav a:hover{
	border-radius:16px;
	text-decoration:underline;
	background-color:#cccccc;
	color:#bf2b18;
	border:2px solid #8a1e10;
}
header a{
	display:block;
	color:#ffffff;
	text-decoration:none;
	padding:16px;
}
header ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
	gap: 10px;
}

header button{
	border-radius:360px;
	border:2px solid #bf2b18;
	padding:0;
    margin:0 20px 0 0;
	background:#8eae8b;
}
header button:hover{
	border-radius:360px;
	background:#5b7f57;
	text-decoration:underline;
	
}

header nav li{
	border:2px solid #bf2b18;
	border-radius:16px;
	background-color:#ffffff;
	text-align:center;
}

footer{
position: absolute;
width: 100%;
padding:0;
padding-bottom:150px;
color: #591616;
text-align:center;
background: rgb(109,209,78);
background: linear-gradient(0deg, rgba(109,209,78,1) 35%, rgba(170,170,170,1) 100%);
font-family: "Roboto", serif;
}

footer nav{
	text-align:center;
	margin:0;
	border-radius:16px;
	background-color:#c03624;
	border:1px solid #ffffff;
}
footer nav ul{
	padding:5px;
	list-style:none;
}
footer audio{
	padding:0 0 0 16px;
	text-align:left;
}
footer nav a:hover{
	text-decoration:underline;
	background-color:#cccccc;
	color:#bf2b18;
	border:2px solid #8a1e10;
	padding:3px;
}
footer h2{
	color:#A3C9D9;
	border-bottom: 1px dotted black;
	margin:0 50px 0 50px;
}

h3{
border-bottom: 1px dotted black;
margin:0 300px 0 300px;
}
h2{
text-decoration: underline;
margin:10px 300px 10px 300px;
}
.lista{
	align-content:flex;
	justify-content:space-around;
	margin:0 150px 0 150px;
}