html{
	min-height:100%;
	min-width:100%;
	position:relative;
}
body {
  font-family: "Roboto", serif;
  margin: 0;
  align-items: center;
}
main{
font-size: 1.2vw;
	color:#591616;
margin: 10vw 5vw 5vw 5vw;
  padding-top: 6vw;
  padding-bottom: 15vw;
	background-color:rgb(163, 201, 217, 0.6);
	text-align:justify;
}
  body h2{
	text-align:left;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin: 0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(0,225,255,0.258) 0%, rgba(1,251,255,1) 100%);
  font-family: "Roboto", serif;
  padding: 1vw;
}
header h1 {
  margin: 0 1vw;
  font-size: 3vw;
  color: #26247d;
  background: #A3C9D9;
  padding: 0.5vw;
}
.fondo {
  position: fixed;
  top:0;
  right:0;
  width:100vw;
  height:100vh;
  z-index: -1;
  background-size: 100% 100%;
}
header nav a {
  display: block;
  color: #000000;
  font-size:1.3vw;
  text-decoration: none;
  padding: 1vw;
}
header nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1vw;
}
header nav a:hover {
  border-radius: 1vw;
  text-decoration: underline;
  background-color: #cccccc;
  color: #26247d;
}
header button {
  border-radius: 50%;
  border: 0.2vw solid #26247d;
  padding: 0;
  margin: 0 2vw 0 0;
  background: #8eae8b;
}
header button:hover {
  background: #5b7f57;
}
header nav li {
  border: 0.2vw solid #26247d;
  border-radius: 1vw;
  background-color: #ffffff;
  text-align: center;
}
footer {
  padding-bottom:3vw;
  position:absolute;
  bottom:0;
  width: 100%;
  padding-top:1vw;
  padding-bottom: 2vw;
  color: #591616;
  text-align: center;
  background: linear-gradient(0deg, rgba(19,18,81,1) 0%, rgba(0,128,165,1) 100%);
  font-family: "Roboto", serif;
  font-size: 1.2vw;
}
footer h2 {
  color: #A3C9D9;
  border-bottom: 0.1vw dotted black;
  margin: 0 5vw;
}
footer audio {
  padding: 0 0 0 1vw;
  text-align: left;
}
footer nav a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 1vw;
}
footer nav ul {
  padding: 0;
  margin: 0 0 2vw 0;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size:1vw;
  gap: 1vw;
}
footer p{
	font-size:1vw;
}
footer nav li {
  border: 0.2vw solid #26247d;
  border-radius: 1vw;
  background-color: #ffffff;
  text-align: center;
}
footer nav a:hover {
  border-radius: 1vw;
  text-decoration: underline;
  background-color: #cccccc;
  color: #26247d;
}

h3{
border-bottom: 0.2vw dotted black;
}
h2{
text-decoration: underline;
}
.proyectos{
	display:flex;
	gap:3vw;
	margin:0 3vw 0 3vw;
	padding:0 4vw 0 4vw;
	align-items:flex-start;
}

.imagen{
	width:45%;
	height:45%;
}

.imagen2{
	width:70%;
	height:70%;
}


@media (max-width: 768px) {
  main {
    font-size: 2.3vw;
    margin: 5vw;
    padding: 20vh 5vw 80vh 5vw;
	text-align:justify;
	gap:2vw;
  }
    body h2{
	text-align:left;
}

  header {
    flex-direction: row;
    text-align: center;
    padding: 2vw;
  }

  header h1 {
    font-size: 3vw;
  }

  header nav ul {
    flex-direction: row;
    align-items: center;
    gap: 2vw;
  }

  header nav a {
    font-size: 1.5vw;
    padding: 2vw;
  }

  header button {
    width: 10vw;
    height: 10vw;
    font-size: 4vw;
    margin: 2vw;
  }

.fondo {
  position: fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  height:100%;
  z-index: -1;
  background-size: 100% 100%;
}
.imagen{
	width:100%;
	height:100%;
}

.imagen2{
	width:100%;
	height:100%;
}

  footer {
  padding-bottom:3vw;
  position:absolute;
  bottom:0;
  width: 100%;
  padding-top:1vw;
  padding-bottom: 2vw;
  color: #591616;
  text-align: center;
  background: linear-gradient(0deg, rgba(19,18,81,1) 0%, rgba(0,128,165,1) 100%);
  font-family: "Roboto", serif;
  font-size: 1.2vw;
}

footer h2 {
  color: #A3C9D9;
  border-bottom: 0.1vw dotted black;
  margin: 0 5vw;
}

footer audio {
  padding: 0 0 0 1vw;
  text-align: left;
}

footer nav a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 0.3vw;
}

footer nav ul {
  padding: 0;
  margin: 0 0 2vw 0;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size:1vw;
  gap: 1vw;
}

footer p{
	font-size:1vw;
}

footer nav li {
  border: 0.2vw solid #26247d;
  border-radius: 1vw;
  background-color: #ffffff;
  text-align: center;
}

footer nav a:hover {
  border-radius: 1vw;
  text-decoration: underline;
  background-color: #cccccc;
  color: #26247d;
}


}
