main p{
	margin:30px 600px 0 600px;
}

body{
font-family: "Roboto", serif;
margin:0 0 0 0;
background:#aaaaaa;
}
main{
font-size: 30px;
color:#591616;
text-align:center;
margin:120px 200px 100px 200px;
padding:80px 0 30px 0;
background-color:rgb(163, 201, 217, 0.6);
}
header {
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
    margin:0;
    color: #ffffff;
	display: flex;
    align-items: center;
    justify-content: space-between;
	background: rgb(0,225,255);
background: linear-gradient(0deg, rgba(0,225,255,0.258140756302521) 0%, rgba(1,251,255,1) 61%);
    padding:0 0 80px 0;
	font-family: "Roboto", serif;
}

header h1{
    margin:0 10px 0 20px;
    font-size: 40px;
    color:#26247d;
	background:#A3C9D9;
	padding:0 10px 0 10px;
}
.fondo{
position: fixed;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
z-index: -1;
}

header nav a{
	display:block;
	color:#000000;
	text-decoration:none;
	padding:16px;
}
header nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
header nav a:hover{
	border-radius:16px;
	text-decoration:underline;
	background-color:#cccccc;
	color:#26247d;
}
header a{
	display:block;
	color:#ffffff;
	text-decoration:none;
	padding:16px;
}
header ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
	gap: 10px;
}

header button{
	border-radius:360px;
	border:2px solid #26247d;
	padding:0;
    margin:0 20px 0 0;
	background:#8eae8b;
}
header button:hover{
	border-radius:360px;
	background:#5b7f57;
	text-decoration:underline;
	
}

header nav li{
	border:2px solid #26247d;
	border-radius:16px;
	background-color:#ffffff;
	text-align:center;
}

footer{
position: absolute;
width: 100%;
padding:0;
color: #591616;
text-align:center;
background: rgb(19,18,81);
background: linear-gradient(0deg, rgba(19,18,81,1) 0%, rgba(0,128,165,1) 100%);
font-family: "Roboto", serif;
}
footer h2{
	color:#A3C9D9;
	border-bottom: 1px dotted black;
	margin:0 50px 0 50px;
}

footer audio{
	padding:0 0 0 16px;
	text-align:left;
}
footer nav a{
	display:block;
	color:#000000;
	text-decoration:none;
	padding:16px;
}
footer nav ul {
    padding: 0;
    margin:0 0 20px 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
footer nav li{
	border:2px solid #26247d;
	border-radius:16px;
	background-color:#ffffff;
	text-align:center;
}
footer nav a:hover{
	border-radius:16px;
	text-decoration:underline;
	background-color:#cccccc;
	color:#26247d;
}
.subtitle{
color:#591616;
background-color:rgb(238, 238, 238, 0.6);
margin:10px 300px 10px 300px;
}
main h2{
text-decoration: underline;
text-align:center;
background-color:rgb(238, 238, 238, 0.6);
margin:10px 300px 10px 300px;
}
h3{
border-bottom: 1px dotted black;
margin:0 300px 0 300px;
}
h2{
text-decoration: underline;
text-align:center;
margin:10px 300px 10px 300px;
}